* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: #d0d4d5;
}
.nav {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.nav-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav img {
  height: 80px;
  width: auto;
}
.nav-part-1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.nav-part-1 ul li {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 500;
}

.nav-part-1 ul li:hover {
  font-weight: bold;
}

.nav-part-2 i {
  margin-right: 40px;
  font-size: 21px;
  font-weight: 500;
}

.content {
  height: calc(100% - 110px);
  width: 100%;
  display: flex;
  position: relative;
}
.content-left {
  height: 100%;
  width: 40%;
  padding: 80px 100px;
}
.content-left h5 {
  font-size: 50px;
  text-transform: capitalize;
  color: #555;
  margin-bottom: 10px;
}
.content-left h1 {
  font-size: 55px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.content-left p {
  font-size: 20px;
  color: #000;
  width: 80%;
}
.btn {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 12px 40px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  border-top-left-radius: 0;
  margin-top: 15px;
  cursor: pointer;
}
.content-right {
  height: 100%;
  width: 60%;
  padding: 110px 100px;
  white-space: nowrap;
  overflow-x: auto;
}
.product {
  height: 370px;
  width: 250px;
  position: relative;
  box-shadow: 0 5px 10px rgba(17, 0, 17, 0.3);
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.product img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 20%;
}
.product h4 {
  font-size: 20px;
  position: absolute;
  bottom: 23%;
  margin-left: 10px;
}
.category {
  bottom: 18%;
  position: absolute;
  font-weight: 400;
  margin-left: 10px;
}
.category:hover {
  font-weight: bold;
}
.color {
  position: absolute;
  bottom: 14%;
  font-weight: 400;
  padding-left: 10px;
}
.color:hover {
  font-weight: bold;
}
.price {
  position: absolute;
  bottom: 8%;
  font-weight: 500;
  margin-left: 10px;
}
.price:hover {
  font-weight: bold;
}
